.container {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  align-items: center;
}

.textField {
  width: 100%;
  margin-bottom: 1em;
}

.spanValidator {
  font-size: 13px;
  text-align: left;
  margin-bottom: 1em;
  margin-top: 0.5em;
}

.valid {
  color: green;
}

.invalid {
  color: red;
}

.button {
  background-color: #008CBA;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
