.container {
  display: flex;
  flex-wrap: wrap;
}

.textField {
  width: 300;
  margin-bottom: 1em;
}

.card {
  margin-top: 5em;
}

#card{
    width: 35%;
}

#cardContent {
  display: flex;
  flex-direction: column;
}
