.root {
    flex-grow: 1;
}

.grow {
    flex-grow: 1;
}

.menuButton {
    margin-left: -12;
    margin-right: 20;
}

.account-icon {
    margin-right: 0.5em;
}

.menuLink {
    text-decoration: none;
}

.dropdownItem {
    display: flex;
    align-items: center;
    align-content: space-between;
    text-align: center;
    color: white;
    text-decoration: none;
    margin-bottom: 0.5em;
    border-radius: 1em;
    padding: 0.5em;
    cursor: pointer;
}

.dropdownItem:hover {
    background-color: #253385;
}

#dropdownMenu {
    padding: 0.5em;
    display: none;
    background-color: #3f51b5;
    flex-direction: column;
    position: absolute;
    top: 4.2em;
    right: 1em;
    border-radius: 1em;
    z-index: 100;
}

.welcome {
    text-decoration: none;
    color: white;
}